Parameters:
  BlueVpcId:
    Type: String
  BlueRouteTablePublic:
    Type: String
Resources: 
  {% for subnet in sceptre_user_data.SubnetTiers.Public.CidrBlocks %}
  {{subnet.Name}}:
    Type: "AWS::EC2::Subnet"
    Properties:
      AvailabilityZone: !Select [{{subnet.AvailabilityZone}}, !GetAZs ]
      CidrBlock: {{subnet.Cidr}}
      MapPublicIpOnLaunch: {{sceptre_user_data.SubnetTiers.Public.MapPublicIpOnLaunch}}
      VpcId: !Ref BlueVpcId
      Tags:
        - Key: Name
          Value: {{subnet.Name}}
    
  RouteAssociate{{subnet.Name}}:
    Type: "AWS::EC2::SubnetRouteTableAssociation"
    Properties:
      RouteTableId: !Ref BlueRouteTablePublic
      SubnetId: !Ref {{subnet.Name}}
  {% endfor %}
  {% for subnet in sceptre_user_data.SubnetTiers.Private.CidrBlocks %}
  {{subnet.Name}}:
    Type: "AWS::EC2::Subnet"
    Properties:
      AvailabilityZone: !Select [{{subnet.AvailabilityZone}}, !GetAZs ]
      CidrBlock: {{subnet.Cidr}}
      MapPublicIpOnLaunch: false
      VpcId: !Ref BlueVpcId
      Tags:
        - Key: Name
          Value: {{subnet.Name}}
  {% endfor %}
Outputs:
  {% for subnet in sceptre_user_data.SubnetTiers.Public.CidrBlocks %}
  {{subnet.Name}}Cidr:
    Value: {{subnet.Cidr}}
  {{subnet.Name}}Id:
    Value: !Ref {{subnet.Name}}
  {% endfor %}
  {% for subnet in sceptre_user_data.SubnetTiers.Private.CidrBlocks %}
  {{subnet.Name}}Cidr:
    Value: {{subnet.Cidr}}
  {{subnet.Name}}Id:
    Value: !Ref {{subnet.Name}}
  {% endfor %}
