Parameters:
  BlueVpcCidrBlock:
    Type: String
Resources:
  BlueVpc:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: !Ref BlueVpcCidrBlock
  {% if sceptre_user_data.AddInternetGateway %}
  BlueIgw:
    Type: AWS::EC2::InternetGateway
  GatewayAttach:
    Type: AWS::EC2::VPCGatewayAttachment
    Properties:
      InternetGatewayId: !Ref BlueIgw
      VpcId: !Ref BlueVpc
  {% endif %}
  {% if sceptre_user_data.AddPublicRoutes and sceptre_user_data.AddInternetGateway %}
  BlueRouteTablePublic:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref BlueVpc
  BlueRouteDefaultPublic:
    Type: AWS::EC2::Route
    DependsOn: GatewayAttach
    Properties:
      DestinationCidrBlock: 0.0.0.0/0
      GatewayId: !Ref BlueIgw
      RouteTableId: !Ref BlueRouteTablePublic
  {% endif %}
Outputs:
  BlueVpcId:
    Value: !Ref BlueVpc
  BlueVpcCidrBlock:
    Value: !Ref BlueVpcCidrBlock
  BlueVpcRegion:
    Description: Region in which the VPC was launched
    Value: !Ref 'AWS::Region'
  {% if sceptre_user_data.AddInternetGateway %}
  BlueIgwId:
    Description: Internet Gateway Id
    Value: !Ref BlueIgw
  {% endif %}
  {% if sceptre_user_data.AddPublicRoutes and sceptre_user_data.AddInternetGateway %}
  BlueRouteTablePublic:
    Description: Public route table
    Value: !Ref BlueRouteTablePublic
  {% endif %}